   {% extends 'base.html' %}
   {% load static %}
   {% block title %}Create A New Blog Category!{% endblock %}
   {% block content %}

   {% if user.is_authenticated %}

   <!-- My CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'theblog/css/main.css' %}">

   <h2>Добавить категорию:</h2>
   <br/><br/>
   <div class="form-group">
       <form method="POST">
           {% csrf_token %}
           {{ form.as_p }}
           <button class="btn btn-secondary">Добавить</button>
       </form>
   </div>

{% else %}

Чтобы выполнить это действие вы должны быть авторизованы!

{% endif %}





    {% endblock %}