   {% extends 'base.html' %}
   {% load static %}
   {% block title %}Edit Blog Post{% endblock %}
   {% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

   <!-- My CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'theblog/css/main.css' %}">

        <h2>Редактировать пост:</h2>
        <br/><br/>

        <div class="form-group">
             <form method="POST">
                 {% csrf_token %}
                 {{ form.media }}
                 {{ form.as_p }}
                 <button class="btn btn-secondary">Принять</button>
   </div>
   {% else %}

   Чтобы выполнить это действие вы должны быть авторизованы!

   {% endif %}


   {% endif %}



   {% endblock %}


