 {% extends 'base.html' %}
 {% load static %}
   {% block title %}Edit Profile Page{% endblock %}
   {% block content %}

   {% if user.is_authenticated %}
       {% if user.id == profile.user.id %}

  <!-- My CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'theblog/css/main.css' %}">

   <h2>Редактировать профиль:</h2>
   <br/><br/>
   <div class="form-group">
       <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           {{ form.as_p }}
           <button class="btn btn-secondary">Принять</button>
       </form>
   </div>

   <script>
       var name = "{{ user.id }}";
       document.getElementById("suhomlin").value = name;
   </script>

   {% else %}

 404! Error ! :D. Шутка. Авторизуйтесь )

{% endif %}


Чтобы выполнить это действие вы должны быть авторизованы!

{% endif %}



    {% endblock %}