   {% extends 'base.html' %}
   {% load static %}
   {% block title %}Register{% endblock %}
   {% block content %}

    <!-- My CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'theblog/css/main.css' %}">

   <h2>Регистрация нового пользователя:</h2>
   <br/><br/>
   <div class="form-group">
       <form method="POST">
           {% csrf_token %}
           {{ form.as_p }}
           <button class="btn btn-secondary">Зарегистрироваться</button>
       </form>
   </div>





    {% endblock %}