.launch-time{
    display: flex;
}


.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.blackfriday{
    width: 690px;
    height: 350px;
    position: absolute;
    right: 10%;
}